.image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 3 equal columns that sits next to each other */
.image-column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.image-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .image-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .image-column {
    flex: 100%;
    max-width: 100%;
  }
}

// .gallery {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: repeat(8, 5vw);
//   grid-gap: 1.5rem; 
// }

// .gallery__img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block; 
// }

// .gallery__item--1 {
//   grid-column-start: 1;
//   grid-column-end: 3;
//   grid-row-start: 1;
//   grid-row-end: 3;

//   /** Alternative Syntax **/
//   /* grid-column: 1 / span 2;  */
//   /* grid-row: 1 / span 2; */
// }

// .gallery__item--2 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 1;
//   grid-row-end: 3;

//   /** Alternative Syntax **/
//   /* grid-column: 3 / span 2;  */
//   /* grid-row: 1 / span 2; */
// }

// .gallery__item--3 {
//   grid-column-start: 5;
//   grid-column-end: 9;
//   grid-row-start: 1;
//   grid-row-end: 6;

//   /** Alternative Syntax **/
//   /* grid-column: 5 / span 4;
//   grid-row: 1 / span 5; */
// }

// .gallery__item--4 {
//   grid-column-start: 1;
//   grid-column-end: 5;
//   grid-row-start: 3;
//   grid-row-end: 6;

//   /** Alternative Syntax **/
//   /* grid-column: 1 / span 4;  */
//   /* grid-row: 3 / span 3; */
// }

// .gallery__item--5 {
//   grid-column-start: 1;
//   grid-column-end: 5;
//   grid-row-start: 6;
//   grid-row-end: 9;

//   /** Alternative Syntax **/
//   /* grid-column: 1 / span 4; */
//   /* grid-row: 6 / span 3; */
// }

// .gallery__item--6 {
//   grid-column-start: 5;
//   grid-column-end: 9;
//   grid-row-start: 6;
//   grid-row-end: 9;

//   /** Alternative Syntax **/
//   /* grid-column: 5 / span 4; */
//   /* grid-row: 6 / span 3; */
// }